body {
  margin: 0;
  font-family: sans-serif;
}
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

footer {
  margin: 0;
  padding: 0;
  background-color: #222 !important;
  color: white;
  margin-top: auto;
  height: 18px;
  font-size: 12px;
  padding: 1em;
}

header {
  background-color: #666 !important;
}
